* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */
.header-section {
  display: flex;
  justify-content: space-between;
  padding: 14px 25px;
}

.header-links-1, .header-links-2 {
  display: flex;
  gap: 20px;
  align-items: center;
  color: rgba(0, 0, 0, .87);
}

.header-links-2 {
  font-size: 13px;
}

#header-apps {
  box-sizing: border-box;
  border-radius: 50%;
  width: 35px;
  padding: 5px;
}

.header-profile-icon {
  box-sizing: border-box;
  border-radius: 50%;
  width: 40px;
  padding: 5px;
}

#header-apps:hover,
.header-profile-icon:hover {
  background-color: rgba(0, 0, 0, .05);
}


/* CONTENT */
.content-section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  max-height: 420px;
  gap: 30px;
  margin: 0 50px;
}

.google-logo {
  height: 92px;
  width: 272px;
}

.content-searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 40px;
  width: clamp(460px, 90vw, 570px);
  height: 45px;
  padding: 0px 15px;
  gap: 10px;
}

.content-searchbar:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

#content-search-icon {
  color: grey;
  font-size: 20px;
}

.content-search-input,
.content-search-input:focus {
  border: none;
  width: 100vw;
  outline: none;
  font-size: 16px;
}

.content-microphone-icon {
  height: 20px;
  min-width: 20px;
}

.content-buttons {
  display: flex;
  gap: 15px;
}

button {
  padding: 12px 20px;
  border: white 1px solid;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .025);
  font-size: 14px;
  color: rgba(0, 0, 0, .8);
  width: max-content;
}

button:hover {
  border: solid 1px rgba(0, 0, 0, .1);
  box-shadow: 0px 1px rgba(0, 0, 0, .1);
}

/* SPACER */
.bottom-spacer-section {
  flex-grow: 1;
  height: 150px;
}

/* FOOTER  */
.footer-section {
  display: flex;
  min-height: 50px;
  background-color: rgba(0, 0, 0, .05);
  padding: 0px 40px;
  flex-wrap: wrap;
}

.footer-section > div {
  display: flex;
  align-items: center;
  color: gray;
  flex-grow: 1;
  flex-basis: 0;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 10px 0;
}


.footer-link-1,
.footer-link-2 {
  gap: 25px;
}

.footer-eco {
  gap: 6px;
  justify-content: center;
}

.footer-leaf {
  height: 15px;
}

.footer-link-2 {
  justify-content: end;
}

@media only screen and (max-width: 750px) {
  .footer-section {
    align-items: center;
    justify-content: space-between;
    gap: 0 15px;
  }

  .footer-section > div {
    align-items: center;
    justify-content: center;
  }

  .footer-eco {
    order: -1;
    margin: 0px 100px;
  }
  
}
