* {
  /* border: 1px red solid; */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */
.header-section {
  display: flex;
  justify-content: space-between;
  padding: 14px 25px;
}

.header-links-1, .header-links-2 {
  display: flex;
  gap: 20px;
  align-items: center;
  color: rgba(0, 0, 0, .87);
}

.header-links-2 {
  font-size: 13px;
}

#header-apps {
  box-sizing: border-box;
  border-radius: 50%;
  width: 35px;
  padding: 5px;
}

.header-profile-icon {
  box-sizing: border-box;
  border-radius: 50%;
  width: 40px;
  padding: 5px;
}

#header-apps:hover,
.header-profile-icon:hover {
  /* box-shadow: 0 0 0 3px lightgrey; */
  background-color: rgba(0, 0, 0, .05);
}


/* CONTENT */
.content-section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  max-height: 420px;
  gap: 30px;
  margin: 0 50px;
}

.google-logo {
  height: 92px;
  width: 272px;
}

.content-searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 40px;
  width: clamp(460px, 90%, 570px);
  height: 45px;
  padding: 0px 15px;
  gap: 10px;
}

.content-searchbar:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  /* border: 1px solid white; */
}

#content-search-icon {
  color: grey;
  font-size: 20px;
}

.content-search-input,
.content-search-input:focus {
  border: none;
  width: 100%;
  outline: none;
  font-size: 16px;
}

.content-microphone-icon {
  height: 26px;
}

.content-buttons {
  display: flex;
  gap: 15px;
}

button {
  padding: 12px 20px;
  border: white 1px solid;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .025);
  font-size: 14px;
  color: rgba(0, 0, 0, .8);
}

button:hover {
  border: solid 1px rgba(0, 0, 0, .1);
  box-shadow: 0px 1px rgba(0, 0, 0, .1);
}

/* SPACER */
.bottom-spacer-section {
  flex-grow: 1;
  height: 150px;
}

/* FOOTER  */
.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: rgba(0, 0, 0, .05);
}